<html>
  <h1>
    Los Hombres Malos
  </h1>

  <h2>
    Gunslingers sign up to play
  </h2>

  <form name='input' action='/names' method='post'>
    <label for='player_one'>
      Ingese su nombre:
      <input type='text' name='player_one' placeholder='Dusty H'>
    </label>
    <label for='player_two'>
      Ingese su nombre:
      <input type='text' name='player_two' placeholder='Billy G'>
    </label>
    <br>
    <input type='submit' value="You feelin' lucky?">
  </form>
</html>
