<html>
  <h1>
    Los Hombres Malos
  </h1>

  <h2>
    <%=@player_one%> Vs <%=@player_two%>
  </h2>

  <h3>
    <%=@player_one%>: 100 hp
    <%=@player_two%>: 100 hp
  </h3>

    <form action="/attack">
      <input type='submit' value="Shoot">
    </form>  

</html>
